* {
	outline: none;
}
body {
	color: rgb(167, 158, 139) !important;
}

img {
	max-width: 100% !important;
}

/* header */

header {
	margin: 2rem 20% -2rem 20%;
	display: flex;
	justify-content: center;
}

/* nav */

nav {
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 3rem;
	line-height: 2rem;
}

nav a {
	color: #72b6b5 !important;
	padding-right: 2rem;
	font-size: 1rem;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline !important;
}

/* main */

main {
	margin-top: 3rem;
	margin-left: 20%;
	margin-right: 20%;
	display: grid;
	grid-gap: 1.4rem;
	line-height: 1.5rem;
}

.content a {
	text-decoration: underline;
}

.post-list a {
	text-decoration: none;
	position: relative;
	color: #f78e66 !important;
	/* color: #72b6b5 !important; */
}

.post-list a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid #f78e66;
	transition: 0.4s;
}

.post-list a:hover:after {
	width: 100%;
}

.post-list a:before,
.post-list a:before {
	content: "#";
	color: #42b983;
	position: absolute;
	left: -0.8em;
	font-weight: bold;
}

h3#title {
	font-size: 2.5rem !important;
	color: #f78e66 !important; 
	margin: 0;
	padding: 0;
}

h3#title span {
	display: table-cell;
	margin: 0;
	padding: 0;
	animation: animate 1s linear;
}

h3#title span:nth-child(1) {
	animation-delay: 0s;
}
h3#title span:nth-child(2) {
	animation-delay: 0.33s;
}
h3#title span:nth-child(3) {
	animation-delay: 0.66s;
}

@keyframes animate {
	0%,100% {
		color: #fff;
		filter: blur(0px);
		text-shadow: 0 0 10px #f78e66,
					0 0 20px #f78e66,
					0 0 40px #f78e66;
	}
	5%,95% {
		color: #111;
		filter: blur(0px);
		text-shadow: none;
	}
}

.tooltip {
	cursor: pointer; text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
	color: #437b91;
}
.tooltip:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 250px;
}
.tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #101417; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

.title {
	border-radius: 15px;
}

.contentDiv {
	display: grid;
	grid-gap: 1.4rem;
	line-height: 1.5rem;
	padding: 20px 20px;
	border-radius: 15px;
	box-shadow: -5px -5px 10px #060809, 5px 5px 10px #1a2025;
}
/* footer */

footer {
	font-weight: bold;
	color: #72b6b5;
	font-size: 0.7rem;
	margin: 4rem 20% 4rem 20%;
}

@media screen and (max-width: 780px) {
	nav,
	header,
	footer,
	main {
		margin-left: 10%;
		margin-right: 10%;
	}
}
