* {
	outline: none;
}
body {
	color: rgb(167, 158, 139) !important;
}

img {
	max-width: 100% !important;
}

/* header */

header {
	margin: 2rem 20% -2rem 20%;
	display: flex;
	justify-content: center;
}

/* nav */

nav {
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 3rem;
	line-height: 2rem;
}

nav a {
	color: #72b6b5 !important;
	padding-right: 2rem;
	font-size: 1rem;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline !important;
}

/* main */

main {
	margin-top: 3rem;
	margin-left: 20%;
	margin-right: 20%;
	display: grid;
	grid-gap: 1.4rem;
	line-height: 1.5rem;
}

.content a {
	text-decoration: underline;
}

.post-list a {
	text-decoration: none;
	position: relative;
	color: #f78e66 !important;
	/* color: #72b6b5 !important; */
}

.post-list a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid #f78e66;
	transition: 0.4s;
}

.post-list a:hover:after {
	width: 100%;
}

.post-list a:before,
.post-list a:before {
	content: "#";
	color: #42b983;
	position: absolute;
	left: -0.8em;
	font-weight: bold;
}

h3#title {
	font-size: 2.5rem !important;
	color: #f78e66 !important; 
	margin: 0;
	padding: 0;
}

h3#title span {
	display: table-cell;
	margin: 0;
	padding: 0;
	animation: animate 1s linear;
}

h3#title span:nth-child(1) {
	animation-delay: 0s;
}
h3#title span:nth-child(2) {
	animation-delay: 0.33s;
}
h3#title span:nth-child(3) {
	animation-delay: 0.66s;
}

@keyframes animate {
	0%,100% {
		color: #fff;
		filter: blur(0px);
		text-shadow: 0 0 10px #f78e66,
					0 0 20px #f78e66,
					0 0 40px #f78e66;
	}
	5%,95% {
		color: #111;
		filter: blur(0px);
		text-shadow: none;
	}
}

/* footer */

footer {
	font-weight: bold;
	color: #72b6b5;
	font-size: 0.7rem;
	margin: 4rem 20% 4rem 20%;
}

@media screen and (max-width: 780px) {
	nav,
	header,
	footer,
	main {
		margin-left: 10%;
		margin-right: 10%;
	}
}
